li.Player {
  display: flex;
  align-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  max-width: 500px;
}

li.Player p {
  flex: 1;
  padding: 12px 12px;
  font-size: 150%;
}

li.Player p.bold {
  font-weight: bold;
}

li.Player p.name {
  text-transform: capitalize;
}

li.Player p.symbol {
  color: red;
}

li.Player p.score {
  max-width: 50px;
}
